{% extends 'base.html' %}

{% block title %}Plan de studios{% endblock title %}

{% block content %}
<h1>{{ career }}</h1>
<h2 class="py-2 text-center text-xl font-extrabold">Plan de Estudios</h2>
<a
  class="inline-block bg-green-600 p-4 text-white hover:bg-green-700 rounded-xl"
  href="{% url 'career:subject_create' career.id %}">Nueva Materia</a>
<table class="w-full table-auto text-left">
  <thead class="bg-green-400">
    <tr>
      <th class="p-4">No</th>
      <th>Materia</th>
      <th>Cuatrimestre</th>
      <th>Horas Totales</th>
      <th>Horas Semanales</th>
    </tr>
  </thead>
  <tbody>
    
    {% for subject in subjects %}
    <tr class="border-b-2 border-gray-300 hover:bg-gray-100">
      <td class="p-2">{{ subject.id }}</td>
      <td>{{ subject.name }}</td>
      <td>{{ subject.quarter }}</td>
      <td>{{ subject.total_hours }}</td>
      <td>{{ subject.weekly_hours }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>    
<div class="container mt-4 mx-auto flex justify-between">
  <div>
  {% if page_obj.has_previous %}
      <a href="?page=1" class="text-sky-500 border p-3 rounded-md">&laquo;</a>
      <a href="?page={{ page_obj.previous_page_number }}" class="text-sky-500 border p-3 rounded-md">Atras</a>
  {% endif %}
</div>
<div>
  <span><b><u>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</u></b></span>
</div>
<div>
  {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}" class="text-sky-500 border p-3 rounded-md">Adelante</a>
      <a href="?page={{ page_obj.paginator.num_pages }}" class="text-sky-500 border p-3 rounded-md">&raquo;</a>
  {% endif %}
</div>
</div>
{% endblock content %}
    
    