{% extends 'base.html' %}

{% block title %}Detalles de Cuatri{% endblock title %}

{% block content %}
<div>
    <h1>Detalles de {{ quarter }}</h1>
    <p>{{ quarter.quarter }}</p>
    <p>{{ quarter.quarter_name }}</p>
    <a href="{% url 'career:quarter_update' quarter.id %}">Actualizar</a>
    <form action="{% url 'career:quarter_delete' quarter.id %}" method="post">
        {% csrf_token %}
        <button type="submit" onclick="confirm('Seguro?')">Eliminar</button>
    </form>
    <a href="{% url 'career:quarter_list' %}">Regresar</a>
</div>
{% endblock content %}